
@use '../abstracts/' as *;

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile {
    display: flex;
    align-items: center;
    
    @include breakpoint-up('mobile') {
        display: block;
    }
}
.switch {
    display: flex;
    justify-content: space-between;
}
.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.box-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include breakpoint-up('mobile') {
        display: block;
    }
}

