
@use '../abstracts/' as *;

.profile {
    display: flex;
    align-items: center;
}
.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}