@use '../abstracts/' as *;

.box {
    background-color: $dark-blue;
    color: $white;
    position: relative;
    border-radius: 10px;

    margin-bottom: rem(24);
    transition: all 200ms ease-in;
    cursor: pointer;


    &:hover {
        background-color: #33397A;
    }

    
    @include breakpoint-up('mobile') {
        margin-bottom: rem(0);
    }
}


.box-bg {
    position: relative;
    height: 45px;
    width: 100%;
    border-radius: 10px 10px 0 0;


    
    &::before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        top: 45px;
        right: 0px;
        border-top-right-radius: 14px;
        background-color: transparent;
    }

    &::after {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        left: 0;
        top: 45px;
        border-top-left-radius: 14px;
        background-color: transparent;
    }
    
}

.box-content {
    
    border-radius: 10px;
    padding: rem(20) rem(20);
    
    
  
    @include breakpoint-up('mobile') {

       padding: rem(10) rem(20);
     

    }
}

.title {
    font-size: rem(18);
    font-weight: 500;
}
.box-main-time {
    font-size: $font-900;
    font-weight: 300;
    line-height: 66px;
}

.box-footer {
    color: $pale-blue;
    font-size: rem(15);
    font-weight: bold;
}



/* Box inverse border effect */

.box-bg--work {
    
    background: $orange-red url(/images/icon-work.svg) no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $orange-red;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $orange-red;
    }
}

.box-bg--play {
   
    background: $soft-blue url(/images/icon-play.svg) no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $soft-blue;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $soft-blue;
    }
}

.box-bg--study {
    
    background: $light-red url(/images/icon-study.svg) no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $light-red;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $light-red;
    }

}

.box-bg--exercise {
    
    background: $lime-green url(/images/icon-exercise.svg) no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $lime-green;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $lime-green;
    }
}

.box-bg--social {
    
    background: $violet url(/images/icon-social.svg) no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $violet;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $violet;
    }
}

.box-bg--selfCare {
    
    background: $soft-orange url(/images/icon-self-care.svg) 
    no-repeat 160px;

    &::before {
        box-shadow: 0 -11px 0 0 $soft-orange;
    }
    &::after {
        box-shadow: 0 -11px 0 0 $soft-orange;
    }
}