@use '../abstracts/' as *;

.box {
    background-color: $dark-blue;
    color: $white;
    position: relative;
    border-radius: 10px;
    
    &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        top: 50px;
        right: 0px;
        border-top-right-radius: 15px;
        box-shadow: 0 -11px 0 0 $lime-green;
        background-color: transparent;
    }
}

.profile {
    padding: rem(30);
}
.switch {
    padding: rem(30);
}

.box-bg {
    
    background-color: $lime-green;
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.box-content {
    
    border-radius: 10px;
    padding: rem(30);
    
}

.title {
    font-size: rem(18);
    font-weight: 500;
}
.box-main-time {
    font-size: $font-900;
    font-weight: 300;
    line-height: 66px;
}

.box-footer {
    color: $pale-blue;
    font-size: rem(15);
    font-weight: 400;
}