@use '../abstracts/' as *;


.attribution {
    display: flex;
    justify-content: center;
    
}
.attribution p,
a {
    font-size: rem(12);
    color: $white;
    text-decoration: none;

    @include breakpoint-up('mobile') {
        font-size: rem(18);
    }
}
.attribution a {
   font-weight: bold;
    text-transform: uppercase;
    padding: rem(5);
}

