@use '../abstracts/' as *;

.wrapper {
    width: 90vw;
    width: clamp(rem(375), 90vw, rem(1440));
    margin: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

html {
    background-color: $very-dark-blue;
}