
/* Colors */


/* Primary */
$white: #ffff;
$blue: hsl(246, 80%, 60%);
$orange-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);


/* Neutral */
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$des-blue: #6f76c8;
$pale-blue: #bdc1ff;


/* fontsize */
$font-900: clamp(2rem, 1rem + 2vw, 3.5rem);
$font-800: clamp(1.5rem, 1rem + 2vw, 3rem);


/* media query breakpoints */

$breakpoints-up: (
    'mobile': 59.375em,
);

$breakpoints-down: (
    'mobile': 59.3125em,
);